@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}



html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*cabezal y barra de nav */


header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100vw;
}

header h1 {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #ffffff; 
    font-size: 2em;
}

nav {
    background-color: #333;
    width: 100vw;
}

nav ul {
    list-style-type: none;
    padding: 10px 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a.active {
    font-weight: bold;
    text-decoration: underline;
}

main {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px)
}

section h2{
    margin: 10px;
    padding: 10px;
}
/* footer*/

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100vw;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer p {
    margin-top: 10px;
}

@media (max-width: 600px) {
    nav ul li, footer ul li {
        display: block;
        margin: 5px 0;
    }
}
